:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --bgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --pojectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
  --whiteColor: rgb(255, 255, 255);

  // Font ang Typograph
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.home {
  padding: 5rem 0 19.7rem 0;
  .leftIcons,
  .rightHome {
    display: none;
  }
  .containerHome {
    padding: 4rem 1.5rem;
    .introHome {
      font-size: var(--h2FontSize);
      color: var(--primaryColor);
      font-weight: 600;
      letter-spacing: 1px;
    }
    .titleHome {
      padding: 0.7rem 0;
      font-size: var(--h1FontSize);
      letter-spacing: 1px;
      font-weight: 600;
      color: var(--textColor);
      &:hover {
        margin-left: 1rem;
        cursor: pointer;
      }
    }
    .subTitleHome {
      display: block;
      font-size: var(--h2FontSize);
      font-weight: 600;
      color: var(--secondaryColor);
      line-height: 2rem;
      padding: 0.5rem 0;
    }
    .paragraphHome {
      padding: 0.6rem 1rem;
      color: var(--paragraphColor);
      padding: 1rem 0;
      max-width: 600px;
      font-size: 1.3rem;
    }
    .lowerSectionHome {
      .btnHome {
        padding: 0.6rem 1rem;
        background: var(--primaryColor);
        color: var(--bgColor);
        border: none;
        outline: none;
        &:hover {
          background: var(--primaryHover);
          cursor: pointer;
        }
        a {
          align-items: center;
          font-size: var(--h3FontSize);
          font-weight: 600;
          gap: 0.5rem;
        }
      }
      .scroolHome {
        padding-top: 1rem;
        align-items: center;
        .scroll {
          font-size: 1rem;
          color: var(--primaryColor);
        }
        .icon {
          font-size: 1.3rem;
          margin-left: 0.6rem;
          color: var(--primaryColor);
          animation: move 0.5s infinite;
        }
        @keyframes move {
          0% {
            transform: translateY(5px);
          }
          25% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(5px);
          }
          75% {
            transform: translateY(0px);
          }
          100% {
            transform: translateY(5px);
          }
        }
      }
    }
  }
}

// Media Query
@media screen and (min-width: 480px) {
  .home {
    padding: 11.7rem 0;
    .containerHome {
      padding: 6rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .introHome {
        font-size: 1.5rem;
      }
      .titleHome {
        font-size: 3.5rem;
      }
      .subTitleHome {
        font-size: 2.1rem;
      }
      .paragraphHome {
        font-size: 1.5rem;
      }

      .lowerSectionHome {
        .btnHome {
          padding: 0.8rem 1.5rem;
          a {
            font-size: 2rem;
          }
        }
        .scroolHome {
          padding-top: 1.5rem;
          .icon {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .home {
    .leftIcons,
    .rightHome {
      display: block;
      position: fixed;
      .icon {
        color: var(--secondaryColor);
      }
      a {
        font-weight: 600;
        // color: var(--secondaryColor);
      }
      .lineHome {
        margin: auto;
        content: "";
        background: var(--secondaryColor);
        height: 100px;
        width: 1px;
      }
    }
    .leftIcons {
      left: 5%;
      bottom: 0;
      .socials {
        gap: 1rem;
        .icon {
          color: var(--secondaryColor);
          &:hover {
            color: var(--primaryColor);
          }
        }
      }
    }
    .rightHome {
      right: 0;
      bottom: 0;
      .emailHome {
        transform: rotate(90deg) translate(-90px);
        a {
          letter-spacing: 0.1rem;
          color: var(--secondaryColor);
          &:hover {
            color: var(--primaryColor);
          }
        }
      }
    }

    .containerHome {
      padding: 6rem 1.5rem;
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: auto;
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 1240px) {
  .home {
    .containerHome {
      padding: 6rem;
      .introHome {
        font-size: 5rem;
      }
      .subTitleHome {
        line-height: 2.5rem;
        font-size: 2.4rem;
      }
      .paragraphHome {
        font-size: 1.8rem;
      }
    }
  }
}
