:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --bgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --pojectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
  --whiteColor: rgb(255, 255, 255);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.home {
  padding: 5rem 0 19.7rem 0;
}
.home .leftIcons,
.home .rightHome {
  display: none;
}
.home .containerHome {
  padding: 4rem 1.5rem;
}
.home .containerHome .introHome {
  font-size: var(--h2FontSize);
  color: var(--primaryColor);
  font-weight: 600;
  letter-spacing: 1px;
}
.home .containerHome .titleHome {
  padding: 0.7rem 0;
  font-size: var(--h1FontSize);
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--textColor);
}
.home .containerHome .titleHome:hover {
  margin-left: 1rem;
  cursor: pointer;
}
.home .containerHome .subTitleHome {
  display: block;
  font-size: var(--h2FontSize);
  font-weight: 600;
  color: var(--secondaryColor);
  line-height: 2rem;
  padding: 0.5rem 0;
}
.home .containerHome .paragraphHome {
  padding: 0.6rem 1rem;
  color: var(--paragraphColor);
  padding: 1rem 0;
  max-width: 600px;
  font-size: 1.3rem;
}
.home .containerHome .lowerSectionHome .btnHome {
  padding: 0.6rem 1rem;
  background: var(--primaryColor);
  color: var(--bgColor);
  border: none;
  outline: none;
}
.home .containerHome .lowerSectionHome .btnHome:hover {
  background: var(--primaryHover);
  cursor: pointer;
}
.home .containerHome .lowerSectionHome .btnHome a {
  align-items: center;
  font-size: var(--h3FontSize);
  font-weight: 600;
  gap: 0.5rem;
}
.home .containerHome .lowerSectionHome .scroolHome {
  padding-top: 1rem;
  align-items: center;
}
.home .containerHome .lowerSectionHome .scroolHome .scroll {
  font-size: 1rem;
  color: var(--primaryColor);
}
.home .containerHome .lowerSectionHome .scroolHome .icon {
  font-size: 1.3rem;
  margin-left: 0.6rem;
  color: var(--primaryColor);
  animation: move 0.5s infinite;
}
@keyframes move {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@media screen and (min-width: 480px) {
  .home {
    padding: 11.7rem 0;
  }
  .home .containerHome {
    padding: 6rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .home .containerHome .introHome {
    font-size: 1.5rem;
  }
  .home .containerHome .titleHome {
    font-size: 3.5rem;
  }
  .home .containerHome .subTitleHome {
    font-size: 2.1rem;
  }
  .home .containerHome .paragraphHome {
    font-size: 1.5rem;
  }
  .home .containerHome .lowerSectionHome .btnHome {
    padding: 0.8rem 1.5rem;
  }
  .home .containerHome .lowerSectionHome .btnHome a {
    font-size: 2rem;
  }
  .home .containerHome .lowerSectionHome .scroolHome {
    padding-top: 1.5rem;
  }
  .home .containerHome .lowerSectionHome .scroolHome .icon {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 770px) {
  .home .leftIcons,
  .home .rightHome {
    display: block;
    position: fixed;
  }
  .home .leftIcons .icon,
  .home .rightHome .icon {
    color: var(--secondaryColor);
  }
  .home .leftIcons a,
  .home .rightHome a {
    font-weight: 600;
  }
  .home .leftIcons .lineHome,
  .home .rightHome .lineHome {
    margin: auto;
    content: "";
    background: var(--secondaryColor);
    height: 100px;
    width: 1px;
  }
  .home .leftIcons {
    left: 5%;
    bottom: 0;
  }
  .home .leftIcons .socials {
    gap: 1rem;
  }
  .home .leftIcons .socials .icon {
    color: var(--secondaryColor);
  }
  .home .leftIcons .socials .icon:hover {
    color: var(--primaryColor);
  }
  .home .rightHome {
    right: 0;
    bottom: 0;
  }
  .home .rightHome .emailHome {
    transform: rotate(90deg) translate(-90px);
  }
  .home .rightHome .emailHome a {
    letter-spacing: 0.1rem;
    color: var(--secondaryColor);
  }
  .home .rightHome .emailHome a:hover {
    color: var(--primaryColor);
  }
  .home .containerHome {
    padding: 6rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1240px) {
  .home .containerHome {
    padding: 6rem;
  }
  .home .containerHome .introHome {
    font-size: 5rem;
  }
  .home .containerHome .subTitleHome {
    line-height: 2.5rem;
    font-size: 2.4rem;
  }
  .home .containerHome .paragraphHome {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=home.css.map */