:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --bgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --pojectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
  --whiteColor: rgb(255, 255, 255);

  // Font ang Typograph
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.about {
  .sectionContent {
    .textSection {
      h4 {
        color: var(--secondaryColor);
        font-size: 1.1rem;
        max-width: 100%;
        letter-spacing: 1px;
        font-weight: 500;
        margin: auto;
      }
      .btnAbout {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        background: var(--primaryColor);
        width: max-content;
        padding: 1rem 1.5rem;
        &:hover {
          background: var(--bgColor);
          cursor: pointer;
        }
        a {
          color: var(--pojectCardColor);
          font-size: 1.2rem;
          font-weight: 600;
          cursor: pointer;
          gap: 0.5rem;
          &:hover {
            color: var(--textColor);
          }
        }
      }
    }
  }
  .headImgAbout {
    position: relative;
    max-height: 250px;
    max-width: 250px;
    margin: 2rem auto 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    border: 2px dashed var(--primaryColor);
    &:hover {
      cursor: pointer;
      border: 2px solid var(--primaryColor);
    }
    .imgAbout {
      height: 215px;
      width: 215px;
      object-fit: cover;
      align-self: center;
      justify-self: center;
    }
  }

  .headImgAbout::before {
    content: "Hover Me";
    font-size: 1.6rem;
    color: var(--bgColor);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inconsolata", monospace, sans-serif;
    background: var(--primaryColor);
    justify-self: center;
    align-self: center;
    height: 97%;
    width: 97%;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    mix-blend-mode: screen;
    transition: all 0.3s;
  }
  .headImgAbout:hover.headImgAbout::before {
    height: 0%;
  }
}

// Media Query
@media screen and (min-width: 769px) {
  .about {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    .sectionContent {
      grid-template-columns: repeat(2, 1fr);
      .headImgAbout {
        height: 215px;
        width: 220px;
        object-fit: cover;
      }
    }
  }
}
