// colors and defaults size
:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --bgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --pojectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
  --whiteColor: rgb(255, 255, 255);

  // Font ang Typograph
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.skills {
  .skillsContainer {
    gap: 2rem 0;
    padding: 1rem 0;
    .skillGroup {
      display: flex;
      flex-direction: column;
      .groupTitle {
        color: var(--textColor);
        .subTitle {
          display: block;
        }
      }
      .generalSkills {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem 0;
        gap: 1rem;
        .singleSkill {
          display: grid;
          align-items: center;
          justify-content: center;
          .iconBox {
            position: relative;
            height: 70px;
            width: 50px;
            background: var(--pojectCardColor);
            border-radius: var(--borderRadius);
            border: 2px solid var(--secondaryColor);
            overflow: hidden;
            justify-content: center;
            align-items: center;
            z-index: 50;
            .icon {
              font-size: 28px;
              z-index: 50;
            }
          }
          .iconBox::before {
            content: "";
            height: 0;
            width: 100%;
            background: var(--bgColor);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: all 0.2s;
          }
          .iconBox:hover {
            color: var(--textColor);
            border: 2px solid var(--primaryColor);
            .icon {
              color: var(--primaryColor);
            }
          }
          .iconBox:hover::before,
          .iconBox:hover::after {
            height: 100%;
          }
          .skillName {
            padding-top: 0.3rem;
            align-items: center;
            font-weight: 600;
            color: var(--secondaryColor);
            margin: auto;
          }
        }
      }
    }
  }
}

// Media Query
@media screen and (min-width: 480px) {
  .skills {
    .skillsContainer {
      .skillGroup {
        .generalSkills {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .skills {
    .skillsContainer {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .skills {
    width: 70%;
    margin: auto;
    .skillsContainer {
      .skillGroup {
        align-items: start;
        gap: 1rem;
        .generalSkills {
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }
      }
    }
  }
}
