:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --bgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --pojectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
  --whiteColor: rgb(255, 255, 255);

  // Font ang Typograph
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.footer {
  width: 100%;
  text-align: center;
  background: var(--pojectCardColor);
  margin: 1rem 0 0;
  padding: 1rem;

  span {
    text-align: center;
    color: var(--secondaryColor);
    opacity: 0.5;
    font-size: 1.2rem;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}
